<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=127.0.0.1;Database=joblink;User ID=admin;Password=cjdwn123" name="ISDB" />
    </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
    <appSettings>
        <add key="AbsolutePath" value="C:\inetpub\joblink" />
        <add key="DOMAIN" value="http://127.0.0.1" />
        <add key="logFilePath" value="C:\inetpub\logs" />
        <add key="RootPath" value="/joblink/" />
    </appSettings>
    <system.web>
        <globalization requestEncoding="euc-kr" responseEncoding="euc-kr" />
        <compilation debug="true" />
        <pages validateRequest="false" />
        <identity impersonate="true" />
        <authentication mode="Forms" />
    </system.web>
    <system.net>
        <mailSettings>
            <smtp>
                <network defaultCredentials="true" host="211.115.111.5" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
