
/* List_table */

#table{width:100%;border:0;border-bottom:1px solid #ccc;border-right:1px solid #ccc;border-spacing:0}
#table td,table th{border:0;border-top:1px solid #ccc;border-left:1px solid #ccc}
#table th{background:#eee}
#caption{visibility:hidden;overflow:hidden;width:1px;height:1px;font-size:0;line-height:0}
